laba6/refresh_mission6_3/marsh.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="classes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="discipline">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="weekday"/>
                    <xs:element type="xs:string" name="audience"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="teacher">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="fullname"/>
                    <xs:element type="xs:string" name="disciplineteacher"/>
                    <xs:element type="xs:byte" name="countdiscipline"/>
                    <xs:element type="xs:byte" name="countstudent"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>