laba5/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Tarrisf">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:string" name="OperatorName"/>
              <xs:element type="xs:short" name="Payroll"/>
              <xs:element name="CallPrices">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Inside"/>
                    <xs:element type="xs:string" name="Outside"/>
                    <xs:element type="xs:string" name="Stationary"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="SMSPrice"/>
              <xs:element name="Parametrs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="FavoriteNumber"/>
                    <xs:element type="xs:string" name="Tariffication"/>
                    <xs:element type="xs:byte" name="TarrifConnectionFee"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>